.container{
   position: relative;
   width: 350px;
   height: 10px;
   margin: 160px;
}
.calculator{
   background-color: rgb(247, 222, 190);
   width: 71px;
   height: 66px;
   padding: 0px;
   border-radius: 50px;
   text-align: center;
   text-decoration: none;
   display: inline;
   cursor: pointer;
   font-size: 20px;
   border: none;
   color: black;
   transition: hover 5s;
}
.calculator:hover{
   background-color: bisque;
}
.calculator-1{
   width: 80px;
   background-color: rgb(170, 198, 214);
   width: 81px;
   height: 68px;padding: 0px;
   border-radius: 50px;
   display: inline;
   cursor: pointer;
   font-size: 20px;
   border: none;
   color: black;
   transition: hover 5s;
}
.calculator-1:hover{
   background-color: bisque;
}
.calculator-2{
   background-color: rgb(238, 170, 187);
   width: 55px;
   height: 66px;
   padding: 0px;
   margin: 0px;
   display:inline;
   cursor: pointer;
   font-size: 20px;
   border: none;
   color: black;
   transition: hover 5s;
   border-radius: 50px;
}
.calculator-2:hover{
   background-color: bisque;
}
.calculator-3{
   background-color: rgb(238, 170, 170);
   padding:22px;
   border-radius: 50px;
   text-align: center;
   text-decoration: none;
   display: inline;
   cursor: pointer;
   font-size: 20px;
   border: none;
   color: black;
   width: 126px;
   transition: hover 5s;
}
.calculator-3:hover{
   background-color: bisque;
}