
.detail{
    display: flex;
    justify-content: center;
    margin: -20px;
}
.form{
    margin-bottom: 0px;
    margin-top: 4px;
}
.input{
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border-color:  rgb(207, 207, 207);
}
.logo{
    width: 25px;   
    margin-left: 8px;
    margin-top: -31px;     
}
.button{
    margin-top: 25px;
    margin-bottom: 10px;
    color: antiquewhite;
    background-color: blueviolet;
    border-color: blueviolet;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: hover 5s;
}
.button:hover{
    background-color:rgb(118, 62, 170);
    border-color:rgb(118, 62, 170);
}
.button:active{
    opacity: 5s;
    background-color: plum;
}
.page{
    background-color:blueviolet ;
    color: white;
    border-color:blueviolet;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    box-shadow: none;
    transition: hover 5s;
    margin: 3px;
}
.page:hover{
    background-color:rgb(118, 62, 170);
}
.page:active{opacity:5s;
    background-color: white;
    color: gray;
}
.cancel{
    text-align: flex-end;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: hover 5s;
    display: flex;
    justify-content: flex-end;
}
.cancel:active{
    background-color: rgb(196, 194, 194);
    border-radius: 13px;
    width: 25px;
    height: 25px;
}
.page-swap{
    display: flex;
    justify-content: space-around;
    height: 40px;
}
.row{
    border-top: 1px solid grey 
}
.body{
width: 390px;
margin: 30px;
padding: 10px;
border: 2px solid gray ;
}
